.nav {
  display: flex;
  flex-direction: row;
  height: 126px;
  justify-content: space-between;
  background-color: #09357b;
  align-items: center;
  padding-left: 8%;
  padding-right: 8%;
}
.nav__logo {
  width: 130px;
}
.nav__logo__img {
  width: 100%;
}
.nav__menu {
  align-self: flex-end;
  border-bottom: 2px solid white;
  cursor: pointer;
}
.nav__menu-active {
  align-self: flex-end;
  border-bottom: 2px solid white;
  background-color: rgba(255, 255, 255, 0.4);
}
